@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
table, th, td {
  border:1px solid black;
}
</style>
@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div> *@
<div class="text-center">
    <h3 class="display-4">Đồ án môn Nhập môn Công nghệ phần mềm</h3>
</div>
<p>Thành viên nhóm</p>
<table>
    <tr>
        <th>Mã số sinh viên</th>
        <th>Họ tên</th>
    </tr>
    <tr>
        <td>22880255</td>
        <td>Nguyễn Thành Nhân</td>
    </tr>
    <tr>
        <td>22880262</td>
        <td>Nguyễn Thị Mỹ Phụng</td>
    </tr>
    <tr>
        <td>22880297</td>
        <td>Võ Viễn Việt</td>
    </tr>
    <tr>
        <td>22880296</td>
        <td>Hồ Văn Trực</td>
    </tr>
</table>
<br />
<p>Link craw1</p>
<a href="Crawl/oiuy">Crawl 1</a><br />
<br />
<br />
<br />
<p>Link craw2</p>
<a href="Crawl/mnbv">Crawl 2</a>
<br />
<br />
<br />
<p>Link display</p>
<a href="Display/Header">Display</a><br />
