@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<a href="Crawl/oiuy">Crawl</a><br />
<br />
<br />
<br />
<a href="Crawl/mnbv">Crawl 2</a>
<br />
<br />
<br />
<br />
<a href="Display/Header">Display</a><br />
